<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Agri Trade</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <%= render 'shared/messages' %>
  <%== yield %>
</body>
</html>
